service:
  type: ClusterIP

ingress:
  enabled: true
  ingressClassName: traefik

resources:
  requests:
    memory: 256Mi
  limits:
    memory: 512Mi

mariadb:
  primary:
    persistence:
      enabled: true
      size: 8Gi
